{% extends 'base.html.twig' %}

{% block container %}

<div class="row">
    <div class="col-12">
        <table id="t-project" class="table table-bordered">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>Last campaign</th>
                    <th>Passed tests</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in campaigns %}
                <tr id="tr-project-{{ campaign.prefid }}" class="table-{{ statusColorClass(campaign.status) }}">
                    <td>
                        <a id="a-project-{{ campaign.prefid }}" href="{{ path('project-view', {'prefid': campaign.prefid}) }}">
                            {{ campaign.name }}
                        </a>
                    </td>
                    <td><span id="s-status-{{ campaign.prefid }}" class="text-{{ statusColorClass(campaign.status) }}">
                            {{ status.label(campaign.status) }}
                        </span>
                    </td>
                    <td>
                        <a id="a-campaign-{{ campaign.prefid }}" href="{{ path('campaign-view', {'prefid': campaign.prefid, 'crefid': campaign.crefid}) }}">
                            {{ campaign.passed }} / {{ campaign.available }}
                        </a>
                    </td>
                </tr>
                {% else %}
                    <tr><td colspan="3">No project</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
