{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} / {{ project.name }} / Campaign #{{ campaign.refId }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a id="br_lvl1" href="{{ path('homepage') }}">ci-report</a></li>
    <li class="breadcrumb-item"><a id="br_lvl2" href="{{ path('project-view', {'refid': project.refid}) }}">{{ project.name }}</a></li>
    <li id="br_lvl3" class="breadcrumb-item active">Campaign #{{ campaign.refId }}</li>
    &nbsp;
    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Previous Next">
        {% if prevCampaign %}
        <a id="a-top-prev" href="{{ path('campaign-view', {'prefid': project.refid, 'refId': prevCampaign.refId}) }}" class="btn btn-outline-dark">Prev</a>
        {% else %}
        <button id="b-top-prev" type="button" class="btn btn-outline-dark" disabled>Prev</button>
        {% endif %}
        {% if nextCampaign %}
        <a id="a-top-next" href="{{ path('campaign-view', {'prefid': project.refid, 'refId': nextCampaign.refId}) }}" class="btn btn-outline-dark">Next</a>
        {% else %}
        <button id="b-top-next" type="button" class="btn btn-outline-dark" disabled>Next</button>
        {% endif %}
    </div>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-4">
        <div class="card border-{{ statusColorClass(campaign.status) }}">
            <div class="card-body">
                <h4 class="card-title text-{{ statusColorClass(campaign.status) }}">
                    <button id="button_status" type="button" class="btn btn-{{ statusColorClass(campaign.status) }} btn-sm">
                        <i class="fa {{ statusIconClass(campaign.status) }} fa-3x"></i>
                    </button>
                    &nbsp;{{ campaign.percentage }} %
                </h4>
                <p id="p-id" class="card-text text-{{ statusColorClass(campaign.status) }}">#{{ campaign.refId }}</p>
                <p id="p-passed" class="card-text text-success">Passed tests: {{ campaign.passed }}
                    <span class="text-muted">/ {{ campaign.enabled }}</span>
                </p>
                <p id="p-failed" class="card-text text-danger">Failed tests: {{ campaign.failed }}</p>
                <p id="p-errored" class="card-text text-danger">Errored tests: {{ campaign.errored }}</p>
                <p id="p-skipped" class="card-text text-warning">Skipped tests: {{ campaign.skipped }}</p>
                <p id="p-disabled" class="card-text text-muted">Disabled tests: {{ campaign.disabled }}</p>
                <p id="p-duration" class="card-text">Duration: {{ campaign.duration }}s</p>
                <p id="p-time" class="card-text text-muted">Time: {{ campaign.start|date('d/m/Y H:i:s') }}</p>
            </div>
        </div>
    </div>
    <div class="col-8">Graph</div>
</div>

<div class="row div-margin-top">
    <div class="col-12">
        <h5>Failed or errored tests</h5>
        <hr>
    </div>
</div>

<div class="row div-margin-top">
    <div class="col-12">
        <h5>Suites</h5>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table id="t-suite" class="table table-bordered">
            <thead>
                <tr>
                    <th>#Id</th>
                    <th>Name</th>
                    <th>%</th>
                    <th><span class="text-success">Passed</span></th>
                    <th><span class="text-danger">Failed</span></th>
                    <th><span class="text-danger">Errored</span></th>
                    <th><span class="text-warning">Skipped</span></th>
                    <th><span class="text-muted">Disabled</span></th>
                    <th>Duration</th>
                    <th><span class="text-muted">Time</span></th>
                    <th>Document</th>
                </tr>
            </thead>
            <tbody>
                {% for suite in suites %}
                <tr id="tr-suite-{{ suite.refId }}" class="table-{{ statusColorClass(suite.status) }}">
                    <td><a id="a-suite-{{ suite.refId }}" href="{{ path('suite-view', {'prefid': project.refid, 'crefId': campaign.refId, 'srefId': suite.refId}) }}">#{{ suite.refId }}</a></td>
                    <td>{{ suite.name }}</td>
                    <td>{{ suite.percentage }} %</td>
                    <td>{{ suite.passed }} / {{ suite.enabled }}</td>
                    <td>{{ suite.failed }}</td>
                    <td>{{ suite.errored }}</td>
                    <td>{{ suite.skipped }}</td>
                    <td>{{ suite.disabled }}</td>
                    <td>{{ suite.duration }}s</td>
                    <td>{{ suite.datetimeSuite|date('d/m/Y H:i:s') }}</td>
                    <td></td>
                </tr>
                {% else %}
                    <tr><td colspan="11">No suite</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <a id="a-project" href="{{ path('project-view', {'refid': project.refid}) }}" class="btn btn-outline-dark">Back to project</a>

        <div class="btn-group" role="group" aria-label="Previous Next">
            {% if prevCampaign %}
            <a id="a-bottom-prev" href="{{ path('campaign-view', {'prefid': project.refid, 'refId': prevCampaign.refId}) }}" class="btn btn-outline-dark">Prev</a>
            {% else %}
            <button id="b-bottom-prev" type="button" class="btn btn-outline-dark" disabled>Prev</button>
            {% endif %}
            {% if nextCampaign %}
            <a id="a-bottom-next" href="{{ path('campaign-view', {'prefid': project.refid, 'refId': nextCampaign.refId}) }}" class="btn btn-outline-dark">Next</a>
            {% else %}
            <button id="b-bottom-next" type="button" class="btn btn-outline-dark" disabled>Next</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
