{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} / {{ project.name }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">ci-report</a></li>
    <li class="breadcrumb-item"><a href="#">{{ project.name }}</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-4">
        <div class="card card-outline-success">
            <div class="card-block">
                <h4 class="card-title text-success">
                    <button id="td_b_action_add" type="button" class="btn btn-success btn-sm">
                        <i class="fa fa-check-circle fa-3x"></i>
                    </button>
                    &nbsp;{{ lastCampaign.percentage }} %
                </h4>
                <p class="card-text text-success">#{{ lastCampaign.refId }}</p>
                <p class="card-text text-success">Passed tests: {{ lastCampaign.passed }}
                    <span class="text-muted">/ {{ lastCampaign.enabled }}</span>
                </p>
                <p class="card-text text-danger">Failed tests: {{ lastCampaign.failed }}</p>
                <p class="card-text text-danger">Errored tests: {{ lastCampaign.errored }}</p>
                <p class="card-text text-warning">Skipped tests: {{ lastCampaign.skipped }}</p>
                <p class="card-text text-muted">Disabled tests: {{ lastCampaign.disabled }}</p>
                <p class="card-text">Duration: {{ lastCampaign.duration }}s</p>
                <p class="card-text text-muted">Time: {{ lastCampaign.datetimeCampaign|date('d/m/Y H:i:s') }}</p>
                <div class="text-center">
                <a href="#" class="btn btn-outline-success">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">Graph</div>
</div>
<div class="row div-margin-top">
<div class="col-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#Id</th>
            <th>%</th>
            <th><span class="text-success">Passed</span></th>
            <th><span class="text-danger">Failed</span></th>
            <th><span class="text-danger">Errored</span></th>
            <th><span class="text-warning">Skipped</span></th>
            <th><span class="text-muted">Disabled</span></th>
            <th>Duration</th>
            <th><span class="text-muted">Time</span></th>
            <th>Document</th>
        </tr>
    </thead>
    <tbody>
        {% for campaign in campaigns %}
        <tr class="table-success">
            <td>#{{ campaign.refId }}</td>
            <td>{{ campaign.percentage }} %</td>
            <td>{{ campaign.passed }} / {{ campaign.enabled }}</td>
            <td>{{ campaign.failed }}</td>
            <td>{{ campaign.errored }}</td>
            <td>{{ campaign.skipped }}</td>
            <td>{{ campaign.disabled }}</td>
            <td>{{ campaign.duration }}s</td>
            <td>{{ campaign.datetimeCampaign|date('d/m/Y H:i:s') }}</td>
            <td></td>
        </tr>
        {% else %}
            <tr><td colspan="10">No campaign</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
